@import url('https://fonts.googleapis.com/css2?family=Itim&family=Roboto+Mono:wght@700&family=Roboto:wght@700&family=Source+Code+Pro:wght@500&display=swap');

body {
    background-color: black;
    
}

.subcard {
    background-color: azure;
    width: 60%;
    height: 50%;
    border-radius: 10px;
    text-align: center;
    margin-left: 20%;
    padding: 2%;
    font-family: Roboto Mono;

}

#subcardimage {
    height: 30%;
    width: 30%;
}

.subcardtitle {
    font-size: 25px;
}

.subcarddesc {
    font-size: 18px;
    background-color: #F6F1E9;
    padding: 10px;
    border-radius: 10px;
}

.subcardprice {
    font-size: 17px;
}